/* Estilos para el formulario Person */
.custom-form {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra */
    margin: 20px; /* Márgenes */
    text-align: center; /* Alineación al centro */
    max-width: 400px; /* Ancho máximo */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
}

    .custom-form h1 {
        font-size: 24px; /* Tamaño de fuente del encabezado */
        margin-bottom: 20px; /* Espaciado inferior del encabezado */
    }

.custom-input {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno de campos de entrada */
    border: none; /* Sin borde */
    background-color: #f5f5f5; /* Color de fondo de campos de entrada */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.custom-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
    font-weight: bold; /* Texto en negritas */
}

    .custom-button:hover {
        background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
    }

.custom-link {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negritas */
    margin-top: 10px; /* Espaciado superior */
    display: inline-block; /* Mostrar como bloque */
}



