@{
    ViewData["Title"] = "Home Page";
    
}

<div class="title-container">
    <h1 class="animated-text">VACUNA A TU MASCOTA</h1>
</div>

<div class="centered-container">
    <img src="~/img/mascotaasss.png" >
</div>




