
@{
    ViewData["Title"] = "MenuAdmin";
}

<h1>MenuAdmin</h1>

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<body>
    <section style="margin-top:15%">
        <div class="form-box">
            <div class="form-value">
                <form asp-controller="Login" asp-action="LoginIndex" method="post">



                    <button type="submit" asp-area="" asp-controller="Peoples" asp-action="Index">Crear Persona</button>

                    <button type="submit" style="margin-top:15%" asp-controller="Brigades" asp-action="Index">Crear Brigada</button>

                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
