@model Vacunacion.Models.ReportsModel

@{
   
    var personRol = ViewBag.Persons as List<PersonRol>;

}

<div class="card mt-4">
    <div class="card-header">
        <h5 class="card-title">Médicos</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive overflow-auto">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Rol</th>
                        <!-- Otros campos si es necesario -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doctor in personRol)
                    {
                        <tr>
                            <td>@doctor.FullName</td>
                            <td>@doctor.Role</td>
                            <!-- Otros campos si es necesario -->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <script>
        $(document).ready(function () {
            $('.table-row').click(function () {
                $('.table-row').removeClass('table-active');
                $(this).addClass('table-active');
            });
        });
    </script>
}