@model List<Campaign>

@section scripts
    {
    <script>
        var campaigns = @Html.Raw(Json.Serialize(Model));

        var tableBody = document.getElementById('campaignTableBody');
        campaigns.forEach(function (campaign) {
            var row = tableBody.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.textContent = campaign.Name;

            // Ajusta el formato de fecha según tus necesidades
            var formattedDate = new Date(campaign.StartDate).toLocaleDateString();
            cell2.textContent = formattedDate;
        });
    </script>
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Campaña</th>
                <th>Fecha de Inicio</th>
            </tr>
        </thead>
        <tbody id="campaignTableBody">
            <!-- Aquí se mostrarán los datos de las campañas -->
        </tbody>
    </table>
</div>