@model Vacunacion.Models.Person

@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonID" />
            <div class="form-group">
                <label asp-for="CI" class="control-label"></label>
                <input asp-for="CI" class="form-control" />
                <span asp-validation-for="CI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondLastName" class="control-label"></label>
                <input asp-for="SecondLastName" class="form-control" />
                <span asp-validation-for="SecondLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@



<link rel="stylesheet" href="~/css/Brigade.css" asp-append-version="true" />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create" class="form-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" placeholder="Ingrese su nombre" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label">Apellido</label>
                <input asp-for="LastName" class="form-control" placeholder="Ingrese su apellido" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SecondLastName" class="control-label">Segundo Apellido</label>
                <input asp-for="SecondLastName" class="form-control" placeholder="Ingrese su segundo apellido" />
                <span asp-validation-for="SecondLastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CI" class="control-label">Cédula de Identidad</label>
                <input asp-for="CI" class="form-control" placeholder="Ingrese su cédula de identidad" />
                <span asp-validation-for="CI" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label">Género</label>
                <input asp-for="Gender" class="form-control" placeholder="Ingrese su género" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Teléfono</label>
                <input asp-for="Phone" class="form-control" placeholder="Ingrese su teléfono" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label">Dirección</label>
                <input asp-for="Address" class="form-control" placeholder="Ingrese su dirección" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo Electrónico</label>
                <input asp-for="Email" class="form-control" placeholder="Ingrese su correo electrónico" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group" style="display: none;">
                <label asp-for="Status" class="control-label"></label>
                <input type="text" asp-for="Status" class="form-control" name="Status" value="1" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group" style="display: none;">
                <label asp-for="RegisterDate" class="control-label"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <div class="form-group">

                <a asp-action="Index" class="btn btn-secondary">Volver Atras</a>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="custom-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}